{% extends 'post-login-template.html' %}
{% load static %}
{% block content %}
<section class="col-md-12">
    <div class="col-md-10" style="margin-left: 8%;">
        <h3 class="p_head"></h3>
        <ul class="customer-record-table">
            <li class="customer-record-table-headers">
                <a href="#order-by-id" id="order-by-id">
                    <input type="hidden" value="" id="id-direction">

                    <div class="cust-id">
                        SL. No.
                    </div>
                </a>
                <a href="#order-by-name" id="order-by-name">
                    <input type="hidden" value="" id="name-direction">

                    <div class="cust-name">
                        Name
                    </div>
                </a>
                <a href="#order-by-email" id="order-by-email">
                    <input type="hidden" value="" id="email-direction">

                    <div class="cust-email">
                        Email
                    </div>
                </a>
                <a href="#order-by-contact" id="order-by-contact">
                    <input type="hidden" value="" id="contact-direction">

                    <div class="cust-contact">
                        Contact
                    </div>
                </a>
                <a href="#order-by-address" id="order-by-address">
                    <input type="hidden" value="" id="address-direction">

                    <div class="cust-address">
                        Address
                    </div>
                </a>

                <div class="cust-actions">
                    Actions
                </div>
            </li>
            <div id="customer-table-rows">

            </div>
        </ul>

        <div class="to_separate">
            <button class="btn btn_add" id="add-new-customer"> + Add</button>
            <button class="btn btn_add" id="cancel"> Cancel</button>
        </div>
    </div>
</section>
<section class="col-md-12">
    <div class="col-md-8" style="margin-left: 15%;">
        <div id="new-customer-form" class="hide">
            <h3 class="p_head">Add New Customer</h3>

            <div class="required-field-block">
                <input type="text" id="cust-name" name="cust-name" placeholder="Name" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="cust-email" name="cust-email" placeholder="Email" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="cust-contact" name="cust-contact" placeholder="Contact" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="house_no" name="house_no" placeholder="House No" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="street_name" name="street_name" placeholder="Street Name" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="locality" name="locality" placeholder="Locality" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="landmark" name="landmark" placeholder="Landmark" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="city" name="city" placeholder="City" class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="state-or-province" name="state-or-province" placeholder="State/Province"
                       class="form-control">
            </div>
            <div class="required-field-block">
                <input type="text" id="pincode" name="pincode" placeholder="Pincode" class="form-control">
            </div>
            <button class="btn btn_add" id="new-customer-submit">Submit</button>
        </div>
    </div>
</section>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            url: '/api/GetAllCustomers/',
            type: 'GET',
            dataTpe: 'application/json',
            data: {format: 'json'},
            success: function (response) {
                var customers = response;
                var customerRecordHTML = "";
                for (var customerIndex = 0; customerIndex < customers.length; customerIndex++) {
                    var customer = customers[customerIndex];
                    customerRecordHTML = customerRecordHTML + "<li class='product-record-item'>";
                    customerRecordHTML = customerRecordHTML + "<div class='cust-id'>";
                    customerRecordHTML = customerRecordHTML + customer.cust_id.toString();
                    customerRecordHTML = customerRecordHTML + "</div>";
                    customerRecordHTML = customerRecordHTML + "<div class='cust-name'>";
                    customerRecordHTML = customerRecordHTML + customer.cust_name.toString();
                    customerRecordHTML = customerRecordHTML + "</div>";
                    customerRecordHTML = customerRecordHTML + "<div class='cust-email'>";
                    customerRecordHTML = customerRecordHTML + customer.email.toString();
                    customerRecordHTML = customerRecordHTML + "</div>";
                    customerRecordHTML = customerRecordHTML + "<div class='cust-contact'>";
                    customerRecordHTML = customerRecordHTML + customer.contact.toString();
                    customerRecordHTML = customerRecordHTML + "</div>";
                    customerRecordHTML = customerRecordHTML + "<div class='cust-address'>";
                    var addressArray = customer.address.toString().substring(1, customer.address.toString().length - 1).split(",");
                    var address = "";
                    for (var i = 0; i < addressArray.length; i++)
                        addressArray[i] = addressArray[i].replace("u\'", "").replace("\'", "").toString();
                    address = addressArray.join(',\n');
                    customerRecordHTML = customerRecordHTML + address;
                    customerRecordHTML = customerRecordHTML + "</div>";
                    customerRecordHTML = customerRecordHTML + "</li>";
                }
                $('#customer-table-rows').html(customerRecordHTML);
            }
        });
    });
    $('#new-customer-submit').click(function () {
        var house_no = $('#house_no').val().toString();
        var street_name = $('#street_name').val().toString();
        var locality = $('#locality').val().toString();
        var landmark = $('#landmark').val().toString();
        var city = $('#city').val().toString();
        var state_or_province = $('#state-or-province').val().toString();
        var pincode = $('#pincode').val().toString();
        var cust_name = $('#cust-name').val().toString();
        var cust_email = $('#cust-email').val().toString();
        var cust_contact = $('#cust-contact').val().toString();
        var address = [house_no, street_name, locality, landmark, city, state_or_province, pincode];
        var customer = {};
        customer.cust_name = cust_name;
        customer.email = cust_email;
        customer.contact = cust_contact;
        customer.address = address;
        customer.csrfmiddlewaretoken = getCookie('csrftoken');
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                }
            }
        });
        var customerJSONObject = JSON.stringify(customer, "\n");
        $.ajax({
            async: false,
            url: '/api/PostNewCustomer/',
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            headers: {"Authorization": "Basic " + window.btoa("spinny:spinny")},
            data: customerJSONObject,
            success: function (response) {
                alert('New Customer Added!');
            },
            error: function (error) {
                alert(error.detail);
            }

        });
        window.location.reload();
    });
    $('#add-new-customer').click(function () {
        $('#new-customer-form').attr('class', 'show');
    });
    $('#cancel').click(function () {
        $('#new-customer-form').attr('class', 'hide');
    });
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function csrfSafeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
</script>
{% endblock %}